<div class="container">
    <form class="details_form_container" [formGroup]="registerForm" (submit)="submit()">
        <div class="field_input">
            <label for="name">Cardholder name</label>
            <input type="text" [(ngModel)]="name"  name="name" id="name" placeholder="e.g Jane Appleseed" formControlName="name"
            [class.invalid]="registerForm.get('name')?.invalid && 
            (registerForm.get('name')?.dirty || 
            registerForm.get('name')?.touched || isSubmitted)"
            >
            <span class="erro" *ngIf="registerForm.get('name')?.invalid && 
            (registerForm.get('name')?.dirty || 
            registerForm.get('name')?.touched || isSubmitted)">Can't be blank</span>
        </div>
        <div class="field_input">
            <label for="card_number">card number</label>
            <input type="text" [(ngModel)]="cardNumber"  id="card_number" placeholder="e.g 1234 5678 9123 0000" formControlName="number"
            [class.invalid]="registerForm.get('number')?.invalid && 
            (registerForm.get('number')?.dirty || 
            registerForm.get('number')?.touched || isSubmitted)"
            >
            <span class="erro" *ngIf="registerForm.get('number')?.invalid && 
            (registerForm.get('number')?.dirty || 
            registerForm.get('number')?.touched || isSubmitted)">Wrong format, numbers only</span>
        </div>
        <div class="inputs_details">
            <div class="date_details">
                <label for="input_date">exp.date(mm/yy)</label>
                <div class="field_date">
                    <div class="field_month">
                        <input class="input_date"  [(ngModel)]="month" type="text" name="month" id="month" placeholder="MM" formControlName="month"
                        [class.invalid]="registerForm.get('month')?.invalid && 
                        (registerForm.get('month')?.dirty || 
                        registerForm.get('month')?.touched || isSubmitted)"
                        >
                        <span class="erro" *ngIf="registerForm.get('month')?.invalid && 
                        (registerForm.get('month')?.dirty || 
                        registerForm.get('month')?.touched || isSubmitted)">Can't be blank</span>
                    </div>
                    <div class="field_year">
                        <input class="input_date" [(ngModel)]="year" type="text" name="year" id="year" placeholder="YY" formControlName="year"
                        [class.invalid]="registerForm.get('year')?.invalid && 
                        (registerForm.get('year')?.dirty || 
                        registerForm.get('year')?.touched || isSubmitted)"
                        >
                        <span class="erro" *ngIf="registerForm.get('year')?.invalid && 
                        (registerForm.get('year')?.dirty || 
                        registerForm.get('year')?.touched || isSubmitted)">Can't be blank</span>
                    </div>
                 
                </div>
               
            </div>
            <div class="cvc_details">
                <label for="cvc">cvc</label>
                <input class="input_date" [(ngModel)]="cvc" type="text" name="cvc" placeholder="e.g 123" formControlName="cvc"
                [class.invalid]="registerForm.get('cvc')?.invalid && 
                (registerForm.get('cvc')?.dirty || 
                registerForm.get('cvc')?.touched || isSubmitted)"
                >
                <span class="erro" *ngIf="registerForm.get('cvc')?.invalid && 
                (registerForm.get('cvc')?.dirty || 
                registerForm.get('cvc')?.touched || isSubmitted)">Can't be blank</span>
            </div>
        </div>
        <button>Confirm</button>
    </form>
    
    
    <div class="cards">
        <div class="card_front">
            <img src="../../../assets/img/bg-card-front.png" alt="card front">
            <div class="card_front_content">
                <div class="card_logo">
                    <img src="../../../assets/img/card-logo.svg" alt="card logo">
                </div>
           
                <div class="card_front_info">
                    <h3>{{cardNumber  || '0000 0000 0000 0000'}}</h3>
                    <div class="card_front_user">
                        <span>{{name || 'Jane appleseed'}}</span>
                        <span> {{month || '00'}}/{{year || '00'}}</span>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="card_back">
            <img src="../../../assets/img/bg-card-back.png" alt="card back">
            <div class="card_back_content">
                <span>{{cvc || '000'}} </span>
            </div>
        </div>
    </div>
</div>
