:root{
    /*Primary*/
    --active-input:  hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --input-erro:hsl(0, 100%, 66%);

    /*Neutral*/
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    
    /*sizings*/
    --xs-sizing:8px;
    --s-sizing:16px;
    --m-sizing:24px;
    --l-sizing:32px;
    --xl-sizing:64px;
    --xxl-sizing:120px;
}
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Space Grotesk', sans-serif;
}
button{
    background-color: var(--Very-dark-violet);
    color:var(--White);
    border-radius: 5px;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
}